# enter your Quotenbulle credentials
USERNAME=
PASSWORD=

# choose a secure password, will only be used in dockerstack
MYSQL_ROOTPW=
MYSQL_USER=root

# where should the payload be saved to?
DATA_STORAGE=

# change to 'jsurf/rpi-mariadb' if you use a RPi
DB_IMAGE=mariadb
